.project-container {
  border-radius: 0.25rem;
  background: white;

  transition: 0.3s ease-in-out all;
  box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.1), 0 1px 2px 0 rgba(0, 0, 0, 0.06);

  &:hover {
    transform: scale(1.05);
    box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1);
  }

  img {
    width: 100%;
    display: block;
    //border-top-left-radius: 0.25rem;
    //border-top-right-radius: 0.25rem;
    height: 15rem;
    object-fit: cover;
  }

  footer {
    text-align: center;
    padding: 1rem 1.25rem;
    background: white;
    //border-bottom-left-radius: 0.25rem;
    //border-bottom-right-radius: 0.25rem;
  }

  footer h5 {
    margin-bottom: 0;
    color: #5D77A2;

  }

  .project-summary-container {
    padding: 0 2rem;
  }
}

.projects-btn {
  display: inline-block;
  background-color: #3c3799;
  border: 2px solid #3c3799;
  color: white;
  font-weight: 500;
  text-transform: uppercase;
  padding: 0.75rem 1.25rem;
  box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.1), 0 1px 2px 0 rgba(0, 0, 0, 0.06);
  animation: bounce 2s infinite;
  margin-top: 2rem;
}

.projects-btn:hover {
  background: transparent;
  box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.1), 0 1px 2px 0 rgba(0, 0, 0, 0.06);
  color: #3c3799;
}

/*
   .project-container{

    padding: 10px 5px;

    h2{
        margin-bottom: 40px;
    }



    p{
        margin-bottom: 20px;
        transition: 0.5s;
    }

    .GitHub{
       font-size: 2rem;
       color:#01D3B6;
    }


   }
  }

  .toggle-button{
    transition: 0.5s;
  }

  */
