.welcome-section-container {
  padding-top: 100px;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  background-color: #fffaeb;

  .profile-image-container {
    display: block;
    position: relative;
  }

  .profile-image-container::before {
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    border: 0.25rem solid hsl(42, 78%, 60%);
    top: 2rem;
    right: 2rem;
    border-radius: 5px;
  }

  img {
    max-width: 18rem;
    max-height: 30rem;
    -o-object-fit: cover;
    object-fit: cover;
    border-radius: 5px;
    position: relative;
    border: solid 0.07rem hsl(42, 78%, 60%);
  }
  /*
  .profile-image-container::before {
    content: "";
    width: 100%;
    height: 100%;
    background: #60dbfc;
    position: absolute;
    top: 0.2rem;
    right: 0.2rem;
    border-radius: 50%;
  }
  */
  /*
  img {
    width: 100%;
    display: block;
    height: 100%;
    object-fit: cover;
    border-radius: 50%;
    position: relative;
  }
  */

  .welcome-text-container {
    width: 700px;
    min-height: 450px;
    margin: 2rem 2rem 2rem 8rem;

    @media screen and (max-width: 768px) {
      margin: 2rem 2rem 2rem 2rem;
      text-align: center;

      h1 {
        font-size: 40px;
      }
    }

    h1 {
      color: #102a42;
      margin-bottom: 30px;
      letter-spacing: 5px;
      font-weight: 900;
    }
  }

  .home-btn {
    display: inline-block;
    background-color: #02367d;
    border: 2px solid #02367d;
    color: #fff;
    font-weight: 500;
    text-transform: uppercase;
    padding: 0.75rem 1.25rem;
    box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.1), 0 1px 2px 0 rgba(0, 0, 0, 0.06);
    animation: bounce 2s infinite;
  }

  .home-btn:hover {
    background: transparent;
    box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.1), 0 1px 2px 0 rgba(0, 0, 0, 0.06);
    color: #02367d;
  }

  @media screen and (max-width: 768px) {
    padding-top: 20px;
  }
}

.project-section-overall-container {
  background: #f1f5f8;
}

.projects-section {
  padding: 5rem 1rem;
  background: #f1f5f8;
  //background: #004249; //#F5F5F8;
  text-align: center;

  h2 {
    color: #102a42;
    font-weight: 800;
  }

  .projects-container {
    width: 100%;

    margin: 0 auto 2rem auto;
    display: grid;
    gap: 3rem 2rem;
    grid-template-columns: repeat(auto-fill, minmax(330px, 1fr));
  }

  .see-all-button {
    margin: 0 auto;
    letter-spacing: 5px;
  }

  .see-less {
    transform: rotate(180deg);
  }
}

.references-section {
  margin-top: 50px;
  padding-bottom: 5%;

  h2 {
    color: #102a42;
    font-weight: 800;
  }

  .recommendations-container {
    background-color: white;
    margin: 0 auto;
    margin-top: 50px;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    padding: 10px 1px;

    @media screen and (max-width: 768px) {
      width: 100%;
    }
  }
}
